<div class="card">
    <div class="card-body">
        <form [formGroup]="angForm" novalidate>
            <div class="form-group">
                <label class="col-md-4">Name</label>
                <input type="text" class="form-control" formControlName="name" #name [(ngModel)]="eventData.name" />
            </div>
            <div *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)"
                class="alert alert-danger">
                <div *ngIf="angForm.controls['name'].errors.required">
                    Person Name is required.
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4">Date</label>
                <input type="text" class="form-control" formControlName="date" #date [(ngModel)]="eventData.date" />
            </div>
            <div *ngIf="angForm.controls['date'].invalid && (angForm.controls['date'].dirty || angForm.controls['date'].touched)"
                class="alert alert-danger">
                <div *ngIf="angForm.controls['date'].errors.required">
                    Person eventData is required.
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4">Type</label>
                <input type="text" class="form-control" formControlName="type" #type [(ngModel)]="eventData.type" />
            </div>
            <div *ngIf="angForm.controls['type'].invalid && (angForm.controls['type'].dirty || angForm.controls['type'].touched)"
                class="alert alert-danger">
                <div *ngIf="angForm.controls['type'].errors.required">
                    eventData GST Number is required.
                </div>
            </div>
            <div class="form-group">
                <button (click)="updateEvent(name.value, date.value, type.value)" [disabled]="angForm.invalid"
                    class="btn btn-primary">Update Event</button>
            </div>
        </form>
    </div>
</div>

<h3 class="mt-5 mb-3">Images</h3>
<app-upload [eventId]="eventData._id"></app-upload>

<!-- <div class="card-deck"></div> -->
<div class="card-columns mt-5">
    <div class="card" *ngFor="let item of eventData.images let i=index">
        <img src="{{item.path}}" class="card-img-top">
        <div class="card-body text-right">
            <a href="#" class="card-link">Remove</a>
        </div>
    </div>
</div>
